nav {
    background-color: #fff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  nav {
    background-color: #ADD8E6; /* Light blue */
  }
  
  nav a {
    color: #000;
  }
  
  .dropdown-content {
    background-color: #ADD8E6; /* Light blue */
  }


  .jumbotron {
    background-color: #ADD8E6; /* Light gray background */
    padding: 30px;
    text-align: center;
    gap: 10px 10px 10px;
  }

  .col-container {
    width: 100%;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    float: left;
    width: 25%;
    text-align: center;
    background-color: #ADD8E6;
  }
  
  .image-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .left-image {
    width: 30%; /* adjust as needed */
    float: left;
  }
  
  .right-image {
    width: 30%; /* adjust as needed */
    float: right;
  }


  .left-image {
    background-image: url(/images/img1.png);
    width: 500px;
    height: 300px;
}
.right-image {
    background-image: url(/images/img4.jpg);
    width: 500px;
    height: 300px;
    shape-image-threshold:initial;
}
































  